ErrorDocument 503 /comming-soon.html

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY}%{TIME_HOUR}%{TIME_MIN} ">202209010000"
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY}%{TIME_HOUR}%{TIME_MIN} "<202209200000"
RewriteCond %{REQUEST_URI} !=/comming-soon.html
RewriteCond %{REMOTE_ADDR} !8.8.8.8

RewriteRule ^.*$ - [R=503,L]
</IfModule>
